* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

@media screen and (max-width: 768px) {
  #title {
    text-align: center;
    color: #fff;
    margin-top: 10%;
  }

  body {
    background-image: url('./images/dota2-background-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .display-places {
    display: flex;
    flex-direction: column-reverse;
  }

  .form-add {
    margin-top: 20%;
  }

  .form-add h2 {
    text-align: center;
    color: #fff;
  }

  #form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5% 18%;
  }

  #inputname {
    background: #273746;
  }

  #inputscore {
    background: #273746;
  }

  #add {
    margin: 5% 19%;
    color: #fff;
    background: #273746;
  }

  .score {
    text-align: center;
    color: #fff;
    margin-top: 30%;
  }

  #refresh-button {
    color: #fff;
    background: #273746;
  }

  li:nth-child(even) {
    background-color: #273746;
  }

  .element {
    margin-right: 10%;
    margin-left: 10%;
    list-style-type: none;
  }
}

@media screen and (min-width: 768px) {
  #title {
    margin-top: 50px;
    color: #fff;
  }

  .display-places {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  #refresh-button {
    box-shadow: 5px 5px 5px black;
    color: #fff;
    background: #273746;
    border: none;
  }

  .table-title {
    display: flex;
    gap: 17px;
    color: #fff;
  }

  .form-add {
    margin-top: 10px;
    color: #fff;
  }

  #form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  body {
    padding: 20%;
    background-image: url('./images/dota2-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  #add {
    width: 29%;
    display: flex;
    align-self: flex-end;
    box-shadow: 5px 5px 5px black;
    color: #fff;
    background: #273746;
    border: none;
  }

  .element {
    list-style-type: none;
    color: #fff;
  }

  li:nth-child(even) {
    background-color: #273746;
  }

  #inputname {
    background: #273746;
  }

  #inputscore {
    background: #273746;
  }
}
